Pagina web - codigo para node red/AquaTech.json
[{"id":"42c450f6159d541b","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e614a23aad93d144","type":"tab","label":"Flujo 1","disabled":false,"info":"","env":[]},{"id":"0b03cef7847781b9","type":"tab","label":"Flujo 2","disabled":false,"info":"","env":[]},{"id":"21335441e19c2d96","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"d550c220ff232096","type":"ui_group","name":"Tanque 1 - Captaci贸n","tab":"1a8b0baf19fa358d","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"1a8b0baf19fa358d","type":"ui_tab","name":"AquaTech Innovate System 1","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3b18aad3e4868130","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0062ff","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#000000","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#000000","edited":true},"page-titlebar-backgroundColor":{"value":"#000000","edited":true},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#000000","edited":true},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0055ff","edited":true},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"0c970238c2769955","type":"ui_group","name":"Tanque 2 - Tratamiento","tab":"1a8b0baf19fa358d","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"10c071f3467923d5","type":"ui_group","name":"Tanque 3 - Consumo","tab":"1a8b0baf19fa358d","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"a2d41d6b0c2ca1bb","type":"ui_tab","name":"Mapa","icon":"fa-map-marker","order":1,"disabled":false,"hidden":false},{"id":"ed6bf1347862a3ed","type":"ui_group","name":"mapa","tab":"a2d41d6b0c2ca1bb","order":1,"disp":false,"width":"20","collapse":false,"className":""},{"id":"4d3fac5686146ed8","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"d550c220ff232096","order":2,"width":6,"height":1},{"id":"533e9c285e1169d1","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"0c970238c2769955","order":3,"width":2,"height":1},{"id":"49e14403bf92ea4a","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"0c970238c2769955","order":5,"width":2,"height":1},{"id":"acde28c6295801de","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"10c071f3467923d5","order":2,"width":6,"height":1},{"id":"df99004436f44d68","type":"ui_tab","name":"AquaTech Innovate System 2","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"6f07f9e23d9b7333","type":"ui_group","name":"Tanque 1 - Captacion","tab":"df99004436f44d68","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"2154f9604c9cbcca","type":"ui_group","name":"Tanque 2 - Tratamiento","tab":"df99004436f44d68","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"50697672ec1f3480","type":"ui_group","name":"Tanque 3 - Consumo","tab":"df99004436f44d68","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"e486ba792159799b","type":"ui_tab","name":"AquaTech Innovate Systen 3","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"bdf24dc597d4d0a3","type":"ui_group","name":"Tanque1","tab":"e486ba792159799b","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"8eb76275758f7861","type":"ui_group","name":"Tanque 2","tab":"e486ba792159799b","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"02fba4b07760b099","type":"ui_group","name":"Tanque 3","tab":"e486ba792159799b","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"30eb12b4464de4b0","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"6f07f9e23d9b7333","order":2,"width":6,"height":1},{"id":"34eec941397bf055","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"2154f9604c9cbcca","order":3,"width":2,"height":1},{"id":"56ee2abeda56c267","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"2154f9604c9cbcca","order":5,"width":2,"height":1},{"id":"1a5925cb5dce6fe3","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"50697672ec1f3480","order":2,"width":6,"height":1},{"id":"ccf3fc981a417b5d","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"bdf24dc597d4d0a3","order":2,"width":6,"height":1},{"id":"3ff0ee4fc39bed75","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"8eb76275758f7861","order":3,"width":2,"height":1},{"id":"b37246f258d6432a","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"8eb76275758f7861","order":5,"width":2,"height":1},{"id":"bb5b0876c90e6f6b","type":"ui_spacer","z":"42c450f6159d541b","name":"spacer","group":"02fba4b07760b099","order":2,"width":6,"height":1},{"id":"38224fbb81fd4224","type":"ui_gauge","z":"42c450f6159d541b","name":"","group":"d550c220ff232096","order":1,"width":0,"height":0,"gtype":"wave","title":"Tanque 1 - Captaci贸n","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":700,"y":140,"wires":[]},{"id":"35c55841e90957d6","type":"ui_gauge","z":"42c450f6159d541b","name":"","group":"0c970238c2769955","order":1,"width":0,"height":0,"gtype":"wave","title":"Tanque 2 - Tratamiento","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":830,"y":240,"wires":[]},{"id":"22d2cd1b1cf59e35","type":"ui_gauge","z":"42c450f6159d541b","name":"","group":"10c071f3467923d5","order":1,"width":6,"height":5,"gtype":"wave","title":"Tanque 3 - Consumo","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":880,"y":440,"wires":[]},{"id":"0e6debb2eadd4ba1","type":"random","z":"42c450f6159d541b","name":"","low":"0","high":"100","inte":"true","property":"payload","x":440,"y":220,"wires":[["38224fbb81fd4224","f5a50acdb6e81f92"]]},{"id":"9e35f5ddd6683762","type":"random","z":"42c450f6159d541b","name":"","low":"0","high":"100","inte":"true","property":"payload","x":440,"y":280,"wires":[["35c55841e90957d6","5b3bba469ac52671"]]},{"id":"a7e11a20628bea27","type":"random","z":"42c450f6159d541b","name":"","low":"0","high":"100","inte":"true","property":"payload","x":440,"y":440,"wires":[["22d2cd1b1cf59e35","24e638a663ae5bba"]]},{"id":"34a1145615e4d3bb","type":"random","z":"42c450f6159d541b","name":"","low":"0","high":"14","inte":"true","property":"payload","x":440,"y":340,"wires":[["a38f6462a2a1df73"]]},{"id":"6845ce078596bf8e","type":"random","z":"42c450f6159d541b","name":"","low":"0","high":"100","inte":"true","property":"payload","x":440,"y":380,"wires":[["fe345cdfdd80999d"]]},{"id":"f5a50acdb6e81f92","type":"ui_chart","z":"42c450f6159d541b","name":"","group":"d550c220ff232096","order":3,"width":6,"height":5,"label":"Level history 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":820,"y":180,"wires":[[]]},{"id":"5b3bba469ac52671","type":"ui_chart","z":"42c450f6159d541b","name":"","group":"0c970238c2769955","order":6,"width":6,"height":4,"label":"Level history 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":960,"y":300,"wires":[[]]},{"id":"24e638a663ae5bba","type":"ui_chart","z":"42c450f6159d541b","name":"","group":"10c071f3467923d5","order":3,"width":6,"height":5,"label":"Level history 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":920,"y":480,"wires":[[]]},{"id":"cba9fc198ca52c29","type":"inject","z":"42c450f6159d541b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["0e6debb2eadd4ba1","9e35f5ddd6683762","34a1145615e4d3bb","6845ce078596bf8e","a7e11a20628bea27"]]},{"id":"a38f6462a2a1df73","type":"ui_gauge","z":"42c450f6159d541b","name":"","group":"0c970238c2769955","order":2,"width":2,"height":2,"gtype":"gage","title":"Ph","label":"","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":770,"y":340,"wires":[]},{"id":"fe345cdfdd80999d","type":"ui_gauge","z":"42c450f6159d541b","name":"","group":"0c970238c2769955","order":4,"width":2,"height":2,"gtype":"gage","title":"Turbidez","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":800,"y":380,"wires":[]},{"id":"21b9f1fb736568bc","type":"inject","z":"42c450f6159d541b","name":"","props":[{"p":"msg.payload","v":"{\"name\":\"System 1\",\"label\":\"AQUATECH INNOVATE 1\",\"iconColor\":\"blue\",\"lat\":19.058234500076136,\"lon\":-104.2877725148222,\"icon\":\"fa-tint\",\"weblink\":\"http://localhost:1880/ui/#!/1?socketid=FZqEYbs5zkJloKwYAAAZ\"}","vt":"json"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":580,"wires":[["0631f3c273db276a","3791658c4286758c"]]},{"id":"3791658c4286758c","type":"ui_worldmap","z":"42c450f6159d541b","group":"ed6bf1347862a3ed","order":2,"width":20,"height":10,"name":"System1","lat":"","lon":"","zoom":"","layer":"OSMC","cluster":"","maxage":"60","usermenu":"hide","layers":"hide","panit":"false","panlock":"true","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"true","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":720,"y":600,"wires":[]},{"id":"0631f3c273db276a","type":"ui_text","z":"42c450f6159d541b","group":"ed6bf1347862a3ed","order":1,"width":20,"height":1,"name":"","label":"Mapa de Dispositivos","format":"","layout":"col-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"40","color":"#fcfcfc","x":340,"y":660,"wires":[]},{"id":"ad23c0c264959af5","type":"inject","z":"42c450f6159d541b","name":"","props":[{"p":"msg.payload","v":"{\"name\":\"System 2\",\"label\":\"AQUATECH INNOVATE 2\",\"iconColor\":\"blue\",\"lat\":19.114665631323405,\"lon\":-104.32538127594492,\"icon\":\"fa-tint\",\"weblink\":\"http://localhost:1880/ui/#!/2?socketid=FZqEYbs5zkJloKwYAAAZ\"}","vt":"json"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":520,"wires":[["3791658c4286758c"]]},{"id":"da839a50f7b27515","type":"inject","z":"42c450f6159d541b","name":"","props":[{"p":"msg.payload","v":"{\"name\":\"System 3\",\"label\":\"AQUATECH INNOVATE 3\",\"iconColor\":\"blue\",\"lat\":19.09528332426701,\"lon\":-104.2973984387741,\"icon\":\"fa-tint\",\"weblink\":\"http://localhost:1880/ui/#!/3?socketid=2RqUkP-SnirEEkcfAAAh\"}","vt":"json"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":460,"wires":[["3791658c4286758c"]]},{"id":"6f484c7b2bf079c5","type":"ui_gauge","z":"e614a23aad93d144","name":"","group":"6f07f9e23d9b7333","order":1,"width":0,"height":0,"gtype":"wave","title":"Tanque 1 - Captaci贸n","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":640,"y":100,"wires":[]},{"id":"1f71eacebb69cc87","type":"ui_gauge","z":"e614a23aad93d144","name":"","group":"2154f9604c9cbcca","order":1,"width":0,"height":0,"gtype":"wave","title":"Tanque 2 - Tratamiento","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":770,"y":200,"wires":[]},{"id":"82cd637c274d6664","type":"ui_gauge","z":"e614a23aad93d144","name":"","group":"50697672ec1f3480","order":1,"width":6,"height":5,"gtype":"wave","title":"Tanque 3 - Consumo","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":820,"y":400,"wires":[]},{"id":"f6ecc0f103ee109f","type":"random","z":"e614a23aad93d144","name":"","low":"0","high":"100","inte":"true","property":"payload","x":380,"y":180,"wires":[["6f484c7b2bf079c5","c153cf27aee75fcd"]]},{"id":"7c3bafda2b3d5c0e","type":"random","z":"e614a23aad93d144","name":"","low":"0","high":"100","inte":"true","property":"payload","x":380,"y":240,"wires":[["1f71eacebb69cc87","a6da9284ca93cc82"]]},{"id":"1b0bb9c87e87e128","type":"random","z":"e614a23aad93d144","name":"","low":"0","high":"100","inte":"true","property":"payload","x":380,"y":400,"wires":[["82cd637c274d6664","b527269edc4f14e6"]]},{"id":"64b7107e520b30b9","type":"random","z":"e614a23aad93d144","name":"","low":"0","high":"14","inte":"true","property":"payload","x":380,"y":300,"wires":[["a9440cfe61018399"]]},{"id":"b1d79ce739057740","type":"random","z":"e614a23aad93d144","name":"","low":"0","high":"100","inte":"true","property":"payload","x":380,"y":340,"wires":[["ee5fee8a4d2374bf"]]},{"id":"c153cf27aee75fcd","type":"ui_chart","z":"e614a23aad93d144","name":"","group":"6f07f9e23d9b7333","order":3,"width":6,"height":5,"label":"Level history 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":760,"y":140,"wires":[[]]},{"id":"a6da9284ca93cc82","type":"ui_chart","z":"e614a23aad93d144","name":"","group":"2154f9604c9cbcca","order":6,"width":6,"height":4,"label":"Level history 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":900,"y":260,"wires":[[]]},{"id":"b527269edc4f14e6","type":"ui_chart","z":"e614a23aad93d144","name":"","group":"50697672ec1f3480","order":3,"width":6,"height":5,"label":"Level history 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":860,"y":440,"wires":[[]]},{"id":"80e3d2fd2aa60446","type":"inject","z":"e614a23aad93d144","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":220,"wires":[["f6ecc0f103ee109f","7c3bafda2b3d5c0e","64b7107e520b30b9","b1d79ce739057740","1b0bb9c87e87e128"]]},{"id":"a9440cfe61018399","type":"ui_gauge","z":"e614a23aad93d144","name":"","group":"2154f9604c9cbcca","order":2,"width":2,"height":2,"gtype":"gage","title":"Ph","label":"","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":710,"y":300,"wires":[]},{"id":"ee5fee8a4d2374bf","type":"ui_gauge","z":"e614a23aad93d144","name":"","group":"2154f9604c9cbcca","order":4,"width":2,"height":2,"gtype":"gage","title":"Turbidez","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":740,"y":340,"wires":[]},{"id":"b443e022df1febc2","type":"ui_gauge","z":"0b03cef7847781b9","name":"","group":"bdf24dc597d4d0a3","order":1,"width":0,"height":0,"gtype":"wave","title":"Tanque 1 - Captaci贸n","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":640,"y":120,"wires":[]},{"id":"f22d502c1b92e028","type":"ui_gauge","z":"0b03cef7847781b9","name":"","group":"8eb76275758f7861","order":1,"width":0,"height":0,"gtype":"wave","title":"Tanque 2 - Tratamiento","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":770,"y":220,"wires":[]},{"id":"dd53991a1603122c","type":"ui_gauge","z":"0b03cef7847781b9","name":"","group":"02fba4b07760b099","order":1,"width":6,"height":5,"gtype":"wave","title":"Tanque 3 - Consumo","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":820,"y":420,"wires":[]},{"id":"2f10a2b1dc3b0047","type":"random","z":"0b03cef7847781b9","name":"","low":"0","high":"100","inte":"true","property":"payload","x":380,"y":200,"wires":[["b443e022df1febc2","41f4eeacc0faa4e8"]]},{"id":"84f933443ab06c72","type":"random","z":"0b03cef7847781b9","name":"","low":"0","high":"100","inte":"true","property":"payload","x":380,"y":260,"wires":[["f22d502c1b92e028","d13fa873bec03384"]]},{"id":"0f7aa7f9ce542ca6","type":"random","z":"0b03cef7847781b9","name":"","low":"0","high":"100","inte":"true","property":"payload","x":380,"y":420,"wires":[["dd53991a1603122c","af04a66ed043eee0"]]},{"id":"d42862f820ba12d6","type":"random","z":"0b03cef7847781b9","name":"","low":"0","high":"14","inte":"true","property":"payload","x":380,"y":320,"wires":[["7fe98e0e0ff678a9"]]},{"id":"9d15f719c19d49bc","type":"random","z":"0b03cef7847781b9","name":"","low":"0","high":"100","inte":"true","property":"payload","x":380,"y":360,"wires":[["48bea73c011b2848"]]},{"id":"41f4eeacc0faa4e8","type":"ui_chart","z":"0b03cef7847781b9","name":"","group":"bdf24dc597d4d0a3","order":3,"width":6,"height":5,"label":"Level history 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":760,"y":160,"wires":[[]]},{"id":"d13fa873bec03384","type":"ui_chart","z":"0b03cef7847781b9","name":"","group":"8eb76275758f7861","order":6,"width":6,"height":4,"label":"Level history 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":900,"y":280,"wires":[[]]},{"id":"af04a66ed043eee0","type":"ui_chart","z":"0b03cef7847781b9","name":"","group":"02fba4b07760b099","order":3,"width":6,"height":5,"label":"Level history 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":860,"y":460,"wires":[[]]},{"id":"04ed4cdab11eac06","type":"inject","z":"0b03cef7847781b9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":240,"wires":[["2f10a2b1dc3b0047","84f933443ab06c72","d42862f820ba12d6","9d15f719c19d49bc","0f7aa7f9ce542ca6"]]},{"id":"7fe98e0e0ff678a9","type":"ui_gauge","z":"0b03cef7847781b9","name":"","group":"8eb76275758f7861","order":2,"width":2,"height":2,"gtype":"gage","title":"Ph","label":"","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":710,"y":320,"wires":[]},{"id":"48bea73c011b2848","type":"ui_gauge","z":"0b03cef7847781b9","name":"","group":"8eb76275758f7861","order":4,"width":2,"height":2,"gtype":"gage","title":"Turbidez","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":740,"y":360,"wires":[]}]